<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Edit Transaksi</h2>

<form method="post" action="/update/{{ transaksi.id_transaksi_zidane }}">
    <select name="id_pasien_zidane">
        {% for p in pasien %}
        <option value="{{ p.id_pasien_zidane }}"
        {% if p.id_pasien_zidane == transaksi.id_pasien_zidane %}selected{% endif %}>
        {{ p.nama_zidane }}
        </option>
        {% endfor %}
    </select>

    <input type="number" name="total_biaya_zidane" value="{{ transaksi.total_biaya_zidane }}">

    <select name="status_pembayaran_zidane">
        <option value="lunas">Lunas</option>
        <option value="belum">Belum</option>
    </select>

    <button>Update</button>
</form>

</body>
</html>
